

<div class="row">
    <!--iframe src="https://archivos-12-p1.s3.us-east-2.amazonaws.com/files/1631382354306pend1.txt" width="400" height="400"></iframe-->
    <h1>Hola este es el dashboard</h1>
    <div class="col-md-12">
        <app-ba-card title="Archivos Publicos" baCardClass="with-scroll">
            <div class="row">
                <!--app-file-card *ngFor="let item of this.global.mypubf" 
                    [filename]="item.name"
                    [fecha]="item.fecha"
                    [path]="item.path"
                    class="col-md-4" >
                </app-file-card-->
            </div>            

        </app-ba-card>
        
        
    </div>
</div>