<div class="row">


    <div class="col-md-12">
        <app-ba-card title="Facturas" baCardClass="with-scroll table-panel">
            <div class="horizontal-scroll">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th class="table-id">#</th>
                    <th>Correlativo</th>
                    <th>Nombre</th>
                    <th>Nit</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--tr *ngFor="let item of peopleTableData">
                    <td class="table-id">{{ item.id }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.username }}</td>
                    <td><a class="email-link" href="mailto:{{ item.email }}">{{ item.email }}</a></td>
                    <td>
                      <button ngClass="{ btn btn-xs btn-{{ item.status }}">{{ item.status }}</button>
                    </td>
                  </tr-->

                  <tr *ngFor="let item of this.global.arrayfacturas;index as i">
                    <td class="table-id" >{{i+1}}</td>
                    <td>{{item.corr}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.nit}}</td>
                    <td>{{item.fecha}}</td>
                    <td>Q. {{item.total}}</td>
                    <td>
                        <button  (click)="open(item.corr)"  type="button" class="btn btn-default">Ver</button>
                    </td>
                    <td>
                      <button  (click)="eliminar(item.corr)"  type="button" class="btn btn-danger">X</button>
                  </td>                    
                  </tr>
                  
                  
                  </tbody>
                </table>
              </div>
              
        </app-ba-card>
      </div>
      
      


</div>