<div [ngClass]="{'menu-collapsed': statecollapse()}" >
<aside class="al-sidebar" sidebarResize>
    <div class="row d-flex justify-content-center">
        <img class="col-md-10" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPyGNr2qL63Sfugk2Z1-KBEwMGOfycBribew&usqp=CAU">

    </div>
    <div class="row d-flex justify-content-center mt-2">
        <h3 class="col-md-12 text-center">Username</h3>
    </div>     

    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8"  routerLink='/pages'>
            Productos</button>
    </div>    
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8"  routerLink='carrito'>
            Carrito</button>
    </div>      
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8"  routerLink='facturas'>
            Facturas</button>
    </div>          
   

    <!--div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8"  routerLink='Subir'>
            <i class="fa fa-upload"></i>Subir Archivo</button>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8"  routerLink='Editar'>
            <i class="fa fa-edit"></i>Editar Archivo</button>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8" routerLink='Eliminar'>
            <i class="fa fa-trash"></i>Eliminar Archivo</button>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8" routerLink='Agregar'>
            <i class="fa fa-user-plus"></i>Agregar Amigo</button>
    </div>        
    <div class="row d-flex justify-content-center mt-2">
        <button type="button" 
                class="btn btn-default btn-with-icon col-md-8" routerLink='Publicos'>
            <i class="fa fa-eye"></i>Ver Archivos Publicos</button>
    </div-->
   
    
    <!--ba-menu [menuHeight]="menuHeight"
             [sidebarCollapsed]="isMenuCollapsed"
             (expandMenu)="menuExpand()"></ba-menu-->
         
</aside>
</div>

