

<div class="row">
    <div class="col-md-12">
        <app-ba-card title="Productos en la tienda" baCardClass="with-scroll ">


    <div class="col-4" *ngFor="let item of this.global.productos;index i" style="display: inline-block;">
        <div class="d-flex pt-3">
            <img 
                class="col-md-6"
                [src]="item.img">
            
                <div class="col-md-7">
                    <h4 class="align-center">{{item.producto}}</h4>    
                    
                    <p class="align-justify">Precio: Q{{item.precio}}</p>
                    <div class="d-flex">
                        <label class="form-control">Cantidad: </label>
                        <input type="number" [min]=0 class="form-control" value="1">
                    </div>
                   
                    <button (click)="global.agregarCarrito(item)" type="submit" class="btn btn-primary">Add</button>
                </div>
            
        </div>
    </div>

                
                
        </app-ba-card>
    
    </div>
</div>