

<div class="auth-main row" style="margin-right: 0;margin-left: 0;">


  



    <div class="auth-block col-md-4">
      <h1>Login</h1>
      <a routerLink="/register" class="auth-link">Eres nuevo por aqui? Registrate</a>


      
  
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!cuenta.valid && cuenta.touched), 'has-success': (cuenta.valid && cuenta.touched)}">
          <label for="inputEmail3" class="col-sm-3 control-label">No. Cuenta</label>
  
          <div class="col-sm-9">
            <input  formControlName='cuenta' type="text" class="form-control" id="inputEmail3" placeholder="Número de cuenta">
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
  
          <div class="col-sm-9">
            <input formControlName="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
            <!--a routerLink="/login" class="forgot-pass">Forgot password?</a-->
          </div>
        </div>
      </form>
  
      <!--div class="auth-sep"><span><span>or Sign in with one click</span></span></div>
  
      <div class="al-share-auth">
        <ul class="al-share clearfix">
          <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
          <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
          <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
        </ul>
      </div-->
    </div>



    


  </div>


  
  

  

  
  