<div class="row d-flex justify-content-center">
    <div class="col-md-6 ">
        <app-ba-card title="Eliminar Archivo" baCardClass="with-scroll">
            <form>
                <div class="form-group">
                    <label for="exampleSelect1">Seleccione el archivo a eliminar</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>                
                <hr>   
                <div class="form-group">
                  <label for="exampleInputEmail1">Ingrese su contraseña</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" placeholder="password">
                </div>                                        
                <button type="submit" class="btn btn-primary">Cargar</button>
              </form>
        </app-ba-card>
    </div>
</div>