<div class="row d-flex justify-content-center">

    <div class="col-md-12">
        <app-ba-card title="Agregar Amigos" baCardClass="with-scroll">
            <br>
            <div class="row">   
                
                <input type="text" class="form-control col-md-10"  placeholder="Search">
                <button type="submit" class="btn btn-primary col-md-2">
                    <i class="ion-ios-search-strong" ></i>
                    Buscar</button>
            </div>    
            <br>        
            <div class="row">
                <app-file-card class="col-md-4">
                </app-file-card>
                <app-file-card class="col-md-4">
                </app-file-card>
                <app-file-card class="col-md-4">
                </app-file-card>
                <app-file-card class="col-md-4">
                </app-file-card>                                                                
            </div>
        </app-ba-card>
    </div>
</div>