
<app-ba-card title="Datos del usuario" baCardClass="with-scroll">
  <form>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName" >Nit</label>
        <input #nit value=" " required type="number" class="form-control"   placeholder="Nit">
        
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputLastName" >Nombre</label>
        <input #name value=" " required type="text" class="form-control"   placeholder="Name">
      </div>
    </div>
    
  </div>   

  <div class="row">
      <!--div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName">Fecha</label>
          <input type="date" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
      </div-->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName">Total</label>
          <label   class="form-control" >{{getTotal()}}</label>
        </div>
      </div>       
  </div>
  
  
    <div >
      <button  (click)="crearFactura(nit.value,name.value)" type="submit" class="btn btn-default col-md-2">Crear Factura</button>  
      <button (click)="global.limpiarCarrito()" type="button" class="btn btn-danger col-md-2">Limpiar Carrito</button>
    </div>     
  
</form> 
  
</app-ba-card>  




<div class="row">


    <div class="col-md-12">
        <app-ba-card title="Productos Actuales" baCardClass="with-scroll table-panel">
            <div class="horizontal-scroll">
                <table class="table table-condensed">
                  <thead>
                  <tr>
                    <th class="table-id">#</th>
                    <th>Producto</th>
                    <th class="col-1">Cantidad</th>
                    <th>Precio(U)</th>
                    <th>Subtotal</th>
                    <th>Editar</th>
                    <th>Quitar</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let item of this.global.itemscarrito;index as i">
                    <td class="table-id">0</td>
                    <td>{{item.nombre}}</td>
                    <td >
                      <label *ngIf="true" >{{item.cantidad}}</label>
                      <input *ngIf="false" type="number" class="form-control"  >

                    </td>
                    <td>Q {{item.precio}}</td>
                    <td>Q {{item.subtotal}}</td>
                    <td>
                        <button type="button" class="btn btn-info">
                          <span *ngIf="true">Editar</span>
                          <span (clicl)="editarCarrito(2,2)"  *ngIf="false">Hecho</span>
                        </button>
                    </td>                    
                    <td>
                        <button (click)="eliminarItemCarrito(item.id)" type="button" class="btn btn-danger">X</button>
                    </td>
                  </tr>
                  
                  
                  </tbody>
                </table>
              </div>
              
        </app-ba-card>
      </div>
      
      


</div>