<app-ba-pagetop></app-ba-pagetop>
<app-ba-sidebar></app-ba-sidebar>

<div [ngClass]="{'menu-collapsed':statecollapse()}">
<div class="al-main">
  <div class="al-content">
    <app-ba-contenttop></app-ba-contenttop>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="al-footer clearfix">
  <div class="al-footer-right">Created with <i class="ion-heart"></i></div>
  <div class="al-footer-main clearfix">
    <div class="al-copy">&copy; <a href="http://akveo.com">Akveo</a> 2016</div>
    <ul class="al-share clearfix">
      <li><i class="socicon socicon-facebook"></i></li>
      <li><i class="socicon socicon-twitter"></i></li>
      <li><i class="socicon socicon-google"></i></li>
      <li><i class="socicon socicon-github"></i></li>
    </ul>
  </div>
</footer>

<app-ba-backtop></app-ba-backtop>




<!--<ba-sidebar></ba-sidebar-->
</div>